.login-card {
    padding: 20px;
    font-size: 16px;
    margin: 10px;
    background-color: var(--pink-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
   
  }
  
  .login-card h1 {
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--purple-color);
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .login-submit {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  .input-container input {
      width: 100%;
  }
  
  @media (min-width: 576px) {
    .login-card {
      padding: 50px;
    }
  }