/* NAV */

.nav-wrapper {
    height: 70vh;
    width: 100%;
    background: var(--linear-effect);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}

.name-stack {
    margin-top: 30px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.social-media a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    padding:  1rem 4rem;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  .8s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.social-media a:hover {
    background-color: var(--purple-color);
}

@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}

/* MENU HAMBURGUER*/

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.checkbox {
    height: 100px;
    width: 100px;
    position: fixed;
    background: transparent;
    top: 0;
    right: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;  
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top:26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top:46px;
    transform: rotate(0); 
}
.checkbox .trace:nth-child(3){
    top:66px;
    transform: rotate(0); 
    background-color: var(--primary-color);
}

#toggle{
   display: none;
}

/* MENU */

.menu {
  display: flex;
  position: absolute;
  top: 40px;
  right: 10px;
  background: transparent;
  height: 40px;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:20vh;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1;
    opacity: 0;
    visibility: visible;
    transition: 0ms ease-in-out 0s;
    background: transparent;
}
.menu-img {
    margin-top: 50px;
    width: 100%;
}
.menu-img img{
    width: 100%; 
}

.menu-items ul {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.menu-items ul li  {
    margin: 5px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 80%;
}

.menu-items ul li a:hover  {
  font-size: 60px;
}


/* ANIMAÇÃO MENU */
#toggle:checked + .checkbox .trace:nth-child(1),
#toggle:checked + .checkbox .trace:nth-child(3){
    background-color: var(--purple-color);
}

#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform:rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: var(--dark-color);
}

#toggle:checked ~ .menu-items {
   visibility: visible;
    opacity: 1;
 }

 @media(min-width: 576px){
     .social-media {
         flex-direction: row;
     }
 }

@media (min-width: 768px){
    .menu-items {
        opacity: 1;
        height: 200px;
    }
    .menu-items ul {
        flex-direction: row;
        width: 100%;
        background-color: rgba(97, 44, 83, 0.041);
    }
  
    .checkbox {
        display: none;
    }
}
 