.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-bottom: 60px;
  font-family: sans-serif;
}

.form input, textarea{
    border: 1px solid var(--purple-color-100);
    padding: 20px;
}

form input{
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contact {
    padding: 30px;
    width: 100%;
    max-width: 600px;
    background-color: var(--pink-color);
    border-radius: 5px;    
  }
  
  .contact h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  .contact input {
    width: 100%;
  }
  
  .message-box textarea {
    width: 100%;
    height: 200px;
  }
  .invalid-feedback{
   font-size: 16px;
   font-weight: 700;
  }
  
  
  
  .btn-container button{
    background-color: var( --pink-color-50);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10%;
  }
  
  .btn-adjust{
    display: flex;
    justify-content: center;
  }
  
  .btn-register{
    width: 80px;
    height: 50px;
    margin-top: 25px;
    margin-right: 30px;
  }

  .btn-container button:hover{
      background-color: var(--purple-color-50);
  }  
