.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.form-img {
    display: none;
}

.form input, textarea{
    border: 1px solid var(--purple-color-10);
}

form input{
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contact {
    padding: 30px;
    width: 100%;
    max-width: 600px;
    background-color: var(--purple-color-50);
    border-radius: 5px;
  }
  
  .contact h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  .contact input {
    width: 100%;
  }
  
  .message-box textarea {
    width: 100%;
    height: 200px;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .btn-container button{
    background-color: var( --pink-color-50);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10%;
  }
  
  .btn-adjust{
    display: flex;
    justify-content: center;
  }
  
  .btn-register{
    width: 80px;
    height: 50px;
    margin-top: 25px;
    margin-right: 30px;
  }

  .btn-cancel {
      height: 50px;
      margin-top: 25px;
      margin-right: 30px;
  }
  
  @media (min-width: 992px) {
    .form-container {
      margin-left: 100px;
    }
    .form-img {
      display: unset;
      margin-top: 80px;
      width: 700px;
    }
    .form-img img {
      width: 65%;
      margin-left: 100px;
  
    }
  }