.list-project-crud-container{
        background-color: var(--dark-color);
        padding: 10px;
        max-width: 600px;
        margin: 20px;
        display: flex;
        flex-direction: column; 
    }
    
    .project-title-crud{
        text-align: center;
    }

    .list-pagination-container{
        margin-bottom: 100px;
    }
    @media(min-width:768px){
        .list-project-crud-containers{
            margin-right: 30px;
        }
    }

    @media(min-width: 992px){
        .list-project-crud-flex{
            display: flex;
            justify-content: center;
        }
    }