.footer-container{
    background-color: var(--purple-color-50);
    position: sticky;
    left: 0px;
    bottom: 0px;
    height: 85px;
    width: 100%;
    height: 100%;
  }
  
  .fotter-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fotter-content h4{
    margin-top: 30px;
    font-size: 30px;
  }
