@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=David+Libre:wght@400;500;700&family=Explora&family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Open+Sans:wght@400;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,700;1,8..144,500&family=Roboto:ital,wght@0,400;0,700;1,500&family=Sansita+Swashed:wght@400;600&family=Ubuntu:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'amatic sc', sans-serif;
    color: var(--primary-color);
}

:root {
    --bg-color: #f4f4f4;
    --primary-color:#ffff;
    --purple-color: #2E1C2B;
    --purple-color-50:#4A1942;
    --purple-color-100: #5e0878;
    --dark-color: #471a4000;
    --linear-effect: linear-gradient(-45deg, #635b5b, #2E1C2B, #4A1942, #893168);    
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul li {
    list-style-type: none;
}

h1,h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1,h3,h3,h3,h5,h6 {
    margin: 0;
}