/* CARDS */
.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink-color-50);  
}

.card-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card {
   height: 280px;
   width: 280px;
   margin: 3rem 0 0;
   background-image: url('../../assets/img/github.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   filter: grayscale(0.8);
   color:var(--primary-color);
   cursor: pointer;
   transition: 0.3s;
}

.card-text {
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: var(--primary-color);
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-text p {
    width: 50%;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.card-text a {
    color: var(--purple-color-100);
    text-transform: uppercase;
}

.card-text a:hover {
    color: var(--primary-color);
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid var(--primary-color);
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2{
   font-size: 30px;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin: 0;
   transition: 0.3s;
}

.card-wrapper p {
   font-size: 0;
   visibility: hidden;
   opacity: 0;
   font-weight: 700;
   text-transform: uppercase;
   transition: 0.3s;
}

.card:hover {
   filter: unset;
}

.card:hover > .card-wrapper::before {
   opacity: 1;
   width: 300px;
   height: 300px;
}

.card:hover > .card-wrapper p {
   font-size: 14px;
   opacity: 1;
   visibility: visible;
}

.card:hover > .card-wrapper a {
    z-index: 1;
}

@media(min-width:768px){
    .card-container {
        flex-direction: row;
        background-color: var(--pink-color-50);
        margin-top: 20px;
        width: 80%;
        border-radius: 30px;
    }

    .card {
        width: 450px;
        margin-bottom: 30px;
    }

    .card-text p {
        width: 70%;
        font-size: 16px;
    }
}